<div class="bg-white ml-4 rounded-bl-2xl text-gray ">
    <h1 class="capitalize text-3xl pl-5 pt-5 md:text-4xl">Cesca System</h1>
    <p class="capitalize text-l pl-5 pb-3 md:text-xl">Dashboard</p>
</div>

<div class="flex flex-col mx-4 mt-2">
    <!-- header of dashboard -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 justify-center">
        <!-- no of order today -->
        <div class="flex flex-row border rounded-xl p-2 gap-3">
            <!-- label -->
            <div class="flex flex-col md:space-y-2 space-y-1">
                <p class="capitalize text-xs">today no of order</p>
                <p class="font-extrabold md:text-2xl text-1xl text-gray-700">{{initialDashboardData.todaysOrder}}</p>
            </div>
            <!-- value -->
            <div>
                <span><i class="fa-solid fa-box-open text-xs font-extralight text-light-2"></i></span>
            </div>
        </div>

        <!-- no of order this month -->
        <div class="flex flex-row border rounded-xl p-2 gap-3">
            <!-- label -->
            <div class="flex flex-col md:space-y-2 space-y-1">
                <p class="capitalize text-xs">monthly no of order</p>
                <p class="font-extrabold md:text-2xl text-1xl text-gray-700">{{initialDashboardData.monthsOrder}}</p>
            </div>
            <!-- value -->
            <div>
                <span><i class="fa-regular fa-calendar-days text-xs font-extralight text-light-2"></i></span>
            </div>
        </div>

        <!-- revenue today -->
        <div class="flex flex-row border rounded-xl p-2 gap-3">
            <!-- label -->
            <div class="flex flex-col md:space-y-2 space-y-1">
                <p class="capitalize text-xs">today total revenue</p>
                <p class="font-extrabold md:text-2xl text-1xl text-gray-700">{{initialDashboardData.todaysRevenue | currency:'PHP':'symbol':'1.2-2'}}</p>
            </div>
            <!-- value -->
            <div>
                <span><i class="fa-solid fa-money-bill text-xs font-extralight text-light-2"></i></span>
            </div>
        </div>

        <!-- revenue this month -->
        <div class="flex flex-row border rounded-xl p-2 gap-3">
            <!-- label -->
            <div class="flex flex-col md:space-y-2 space-y-1">
                <p class="capitalize text-xs">monthly total revenue</p>
                <p class="font-extrabold md:text-2xl text-1xl text-gray-700">{{initialDashboardData.monthsRevenue| currency:'PHP':'symbol':'1.2-2'}}</p>
            </div>
            <!-- value -->
            <div>
                <span><i class="fa-solid fa-money-bills text-xs font-extralight text-light-2"></i></span>
            </div>
        </div>
    </div>

    <!-- graphs and chart-->
        <!-- order over time -->
    <div class="flex flex-wrap gap-5 space-y-2 mt-5 justify-center p-2">
         <div class="flex justify-center p-2">
            <app-orders-over-time-chart></app-orders-over-time-chart>
         </div>
    </div>
</div>
