<div class="flex flex-col pl-4 space-y-8">
    <!-- header  -->
    <div class="bg-white rounded-bl-2xl text-gray">
        <h1 class="capitalize text-3xl pl-5 pt-5 md:text-4xl">Cesca System</h1>
        <p class="capitalize text-l pl-5 pb-3 md:text-xl">Supplier</p>
    </div>
    <!-- filter field -->
    <div class="flex flex-col pr-4 gap-3">
        <!-- search textbox -->
         <div class="flex justify-end gap-2">
            <input
                class="items-end border border-gray px-3 py-2 rounded-lg text-gray focus:ring-0 focus:outline-none hover:border-light-3 hover:scale-110 transition-all duration-300" 
                type="text" 
                name="search" 
                title="Search supplier name"
                [(ngModel)] ="searchParams.searchTerm"
                (keyup.enter)="search()"
                placeholder="Supplier Name"/>
            <button 
                class="cursor-pointer font-extrabold text-2xl text-light-3 hover:scale-150 transition-all duration-300"
                (click)="search()"
                title="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
            </button>
         </div>
         <!-- toggle button for advanced filter -->
         <div>
            <button 
                class="cursor-pointer transition-all duration-300 hover:scale-110 tracking-wider font-bold"
                type="button" 
                (click)=" toggleAdvancedFilter()"
                >
                Advanced Filter
                <span><i class="fa-solid fa-filter"></i></span>
            </button>
         </div>
        <!-- advanced filters  -->
         <div class="border border-gray rounded-xl p-2 lg:px-12" [ngClass]="advancedFilterFlag ? 'block' : 'hidden'">
            <h2 class="font-sans tracking-wider text-md font-semibold">Advanced Filters:</h2>
            <div class="flex flex-row gap-3 ">
                <!-- archived items -->
                <mat-checkbox
                    name="isArchived"
                    [(ngModel)]="searchParams.isArchived"
                    >
                    <span class="text-light-1 text-xs">Archived Items</span>
                </mat-checkbox>
                <!-- deleted items -->
                <mat-checkbox
                    name="isDeleted"
                    [(ngModel)]="searchParams.isDeleted"
                    >
                    <span class="text-light-1 text-xs">Deleted Items</span>
                </mat-checkbox>
            </div>
            <div class="flex justify-end">
                <!-- filter button -->
                 <button
                    class="text-xs px-3 py-2 rounded-2xl bg-light-3 cursor-pointer text-white transition-all duration-300 hover:text-light-3 hover:bg-white hover:border hover:border-light-3"
                    title="Apply Filter"
                    (click)="search()"
                    type="button">Apply Filter</button>
            </div>
         </div>
    </div>
    <!-- table content -->
    <div class="pr-4">
        <!-- refresh button -->
        <div class="flex justify-end pb-2">
            <i 
                (click)="refreshTable()"
                class="fa-solid fa-arrows-rotate cursor-pointer font-extrabold text-2xl text-light-3 hover:animate-spin transition-all duration-300" 
                title="Refresh Table">
            </i>
        </div>
        <!-- table tailwind -->
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 not-visited:shadow-md bg-white">
                <thead>
                    <tr class="border-2">
                        <th class="table-header-cell hidden md:block">No.</th>
                        <th class="table-header-cell">Supplier Name</th>
                        <th class="table-header-cell">Email</th>
                        <th class="table-header-cell">Contact No.</th>
                        <th class="table-header-cell">Address</th>
                    </tr>
                </thead>
                <tbody>
                    @if (isLoading()){
                    <tr>
                        <td colspan="6" class="px-6 py-4 text-start text-sm text-gray-500">
                            <div class="flex justify-center items-center space-x-2">
                                <span class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-gray-500"></span>
                                <span class="text-sm text-gray-500">Loading suppliers...</span>
                            </div>
                        </td>
                    </tr>  
                } 
                @else if (suppliers().length > 0){
                    @for (item of suppliers(); track $index) {
                        <tr class="table-row border-b-1 border-b-gray" title="{{item.supplierName}}">
                            <td class="mat-cell hidden md:block">{{$index + 1}}</td>
                            <td class="mat-cell">{{item.supplierName}}</td>
                            <td class="mat-cell">{{item.email}}</td>
                            <td class="mat-cell">{{item.contactNumber}}</td>
                            <td class="mat-cell">{{item.address}}</td>
                        </tr>
                    }
                } @else {
                    <tr class="border-b-1 border-b-gray">
                        <td colspan="6" class="px-6 py-4 text-start text-sm text-gray-500">
                            No supplier exists!
                        </td>
                    </tr>
                }
                </tbody>  
                <tfoot>
                    <tr>
                        <td colspan="6" class="px-4 py-2">
                            <div class="flex justify-center items-center space-x-2">
                                <button class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Previous</button>
                                <button class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">1</button>
                                <button class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">2</button>
                                <button class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">3</button>
                                <button class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Next</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

</div>

