<div class="flex flex-row h-screen">
    <div class="flex flex-col gap-3 p-2 border border-r-gray-300">
        <div class="self-center mb-6 mt-4">
            <a routerLink="dashboard" title="Cesca System">
                <img 
                    ngSrc="assets/image/medicine_logo.png"
                    width="50"
                    height="30"
                    alt="Cesca Logo"
                    priority>
            </a>
        </div>
        <!-- mobile menu -->
        <div class="flex flex-col md:hidden gap-1 h-screen justify-between px-5">
            <div class="flex flex-col gap-6">
                <a [routerLink]="['dashboard']" title="Dashboard" class="self-center ">
                        <i class="fa-solid fa-chart-line text-2xl text-gray hover:text-light-4 transition-all duration-300" 
                            routerLinkActive="text-light-4" 
                            [routerLinkActiveOptions]="{exact: true}" ></i>
                </a>
                <a [routerLink]="['inventory']" title="Inventory" class="self-center">
                        <i class="fa-solid fa-warehouse text-2xl text-gray hover:text-light-4 transition-all duration-300" 
                            routerLinkActive="text-light-4" 
                            [routerLinkActiveOptions]="{exact: true}"></i>
                </a>
                <a [routerLink]="['account-manager']"  title="Account Manager" class="self-center">
                        <i class="fa-solid fa-user-tie text-2xl text-gray hover:text-light-4 transition-all duration-300"
                            routerLinkActive="text-light-4" 
                            [routerLinkActiveOptions]="{exact: true}"></i>
                </a>
            </div>
            <a (click)="logoutPrompt()" title="Logout" class="self-center mb-5">
                <i class="fa-solid fa-arrow-right-from-bracket text-2xl text-gray cursor-pointer hover:text-light-4"></i>
            </a>
        </div>
        <!-- desktop menu -->
        <div class="hidden md:flex md:flex-col h-screen justify-between px-5">
            <div class="flex flex-col gap-4">
                <a class="cursor-pointer text-center tracking-wider font-mono text-2xl text-gray hover:text-light-4 transition-all duration-300" 
                    title="Dashboard" 
                    [routerLink]="['dashboard']"
                    routerLinkActive="text-light-4" 
                    [routerLinkActiveOptions]="{exact: true}">
                        Dashboard
                </a>
                <a class="cursor-pointer text-center tracking-wider font-mono text-2xl text-gray hover:text-light-4 transition-all duration-300" 
                    title="Inventory" 
                    [routerLink]="['inventory']"
                    routerLinkActive="text-light-4" 
                    [routerLinkActiveOptions]="{exact: true}">
                        Inventory
                </a>
                <a class="cursor-pointer text-center tracking-wider font-mono text-2xl text-gray hover:text-light-4 transition-all duration-300" 
                    title="Account Manager" 
                    [routerLink]="['account-manager']"
                    routerLinkActive="text-light-4" 
                    [routerLinkActiveOptions]="{exact: true}">
                        Account <span class="block">Manager</span>
                </a>
            </div>
            <!-- <a class="cursor-pointer" title="Logout" (click)="logoutPrompt()">Logout</a> -->
            <a (click)="logoutPrompt()" title="Logout" class="self-center mb-5">
                <i class="fa-solid fa-arrow-right-from-bracket text-2xl text-gray cursor-pointer hover:text-light-4"></i>
            </a>
        </div>
    </div>
    <div class="flex-1">
        <div class=" h-full bg-gray-300">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>